<!-- navigation -->
<!-- form đăng ký tài khoản -->
<div class="modal fade" id="modal-register" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><strong>Đăng kí tài khoản</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="pl-3 pr-3 pt-3">
                <div class="alert alert-warning w-100 text-center" role="alert" id="alert" style="display: none;">
                </div>
            </div>

            <div class="modal-body">
                <form id="form-register" method="POST" action="/user/register">
                    <input class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20 mw-100" type="text"
                        id="username" name="username" placeholder="Tên tài khoản*" required>

                    <input class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20 mw-100" type="text"
                        id="name" name="name" placeholder="Họ tên*" required>

                    <input class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20 mw-100" type="text"
                        id="email" name="email" placeholder="Email*" required>

                    <input class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20 mw-100" type="text"
                        id="phone" name="phone" placeholder="phone number*" required>

                    <input class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20 mw-100" id="password"
                        type="password" name="password" placeholder="Mật khẩu*" required>

                    <input class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20 mw-100" type="password"
                        id="repassword" placeholder="Nhập lại*" required>
                    <button class="size-a-17 bg2 borad-3 f1-s-12 cl0 hov-btn1 trans-03 p-rl-15 m-t-10" type="submit"
                        id="btn-register" form="form-register" hidden>
                        Đăng kí
                    </button>
                </form>
            </div>
            <div class="modal-footer">
                <button class="size-a-17 bg2 borad-3 f1-s-12 cl0 hov-btn1 trans-03 p-rl-15 m-t-10" type="submit"
                    id="btn-register" form="form-register" hidden>
                    Đăng kí
                </button>
            </div>
        </div>
    </div>
</div>
<!--  -->

<!-- form đăng nhập -->
<div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><strong>Đăng nhập</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="pl-3 pr-3 pt-3">
                <div class="alert alert-warning w-100 text-center" role="alert" id="alert-login" style="display: none;">
                </div>
            </div>

            <div class="modal-body">
                <form id="form-login" method="POST" action="/user/login">
                    <input class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20 mw-100" type="text"
                        id="_username" name="_username" placeholder="Tên người dùng*" required>

                    <input class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20 mw-100" id="_password"
                        type="password" name="_password" placeholder="Mật khẩu*" required>
                    <button class="size-a-17 bg2 borad-3 f1-s-12 cl0 hov-btn1 trans-03 p-rl-15 m-t-10" type="submit"
                        form="form-login" id="btn-login" hidden>
                        Đăng nhập
                    </button>
                </form>
            </div>
            <div class="modal-footer">
                <button class="size-a-17 bg2 borad-3 f1-s-12 cl0 hov-btn1 trans-03 p-rl-15 m-t-10" type="submit"
                    form="form-login" id="btn-login">
                    Đăng nhập
                </button>
            </div>
            <div class="modal-footer">
                <a href="/account/ConfirmEmail">Quên mật khẩu?</a>
            </div>
        </div>
    </div>
</div>
<!--  -->



<header>
    <div class="container-menu-desktop">
        <div class="topbar">
            <div class="content-topbar container h-100">
                <div class="left-topbar">
                    <!-- nếu user chưa đăng nhập thì hiển thị cái này -->
                    <a href="javascript:;" class="left-topbar-item" data-toggle="modal" data-target="#modal-register"
                        id="anchor-signup">
                        <i class="fa fa-user-plus" aria-hidden="true"></i> Đăng kí
                    </a>

                    <a href="javascript:;" class="left-topbar-item" data-toggle="modal" data-target="#modal-login"
                        id="anchor-signin">
                        <i class="fa fa-sign-in" aria-hidden="true"></i> Đăng nhập
                    </a>
                </div>
                <div class="right-topbar">
                    <a class="list-group-item action active" href="">
                        Danh sách mượn sách
                        <span class="badge badge-primary float-right">1</span>
                    </a>
                    <!-- kiểm tra nếu user đã đăng nhập thì hiển thị cái này -->
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle left-topbar-item" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            style="font-family: Roboto-Regular;">
                            <small><i class="fa fa-user" aria-hidden="true"></i> Xin chào, tên tài khoản!</small>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" style="z-index: 10;"
                            aria-labelledby="navbarDropdown">
                            <a class="dropdown-item left-topbar-item" href="/account/profile">
                                <i class="fa fa-info-circle" aria-hidden="true"></i> <small>Trang cá nhân</small>
                            </a>
                            <!-- Khi vai trò là độc giả thì hiển thị cái này -->
                            <a class="dropdown-item left-topbar-item" href="/account/AddLimits">
                                <i class="fa fa-info-circle" aria-hidden="true"></i> <small>Đăng ký thẻ độc giả</small>
                            </a>
                            <!-- -->
                            <!-- Khi vai trò là thủ thư thì hiển thị cái này -->
                            <a class="dropdown-item left-topbar-item" href="/reporter/listpost">
                                <i class="fa fa-info-circle" aria-hidden="true"></i> <small>Quản lý thẻ độc giả</small>
                            </a>
                            <a class="dropdown-item left-topbar-item" href="/reporter/post">
                                <i class="fa fa-info-circle" aria-hidden="true"></i> <small>Chấp nhận độc giả</small>
                            </a>
                            <a class="dropdown-item left-topbar-item" href="/reporter/post">
                                <i class="fa fa-info-circle" aria-hidden="true"></i> <small>Quản lý phiếu mượn</small>
                            </a>
                            <a class="dropdown-item left-topbar-item" href="/reporter/post">
                                <i class="fa fa-info-circle" aria-hidden="true"></i> <small>Quản lý phiếu trả</small>
                            </a>
                            <!-- Khi vai trò là admin thì hiển thị cái này -->
                            <a class="dropdown-item left-topbar-item" href="/editor/post">
                                <i class="fa fa-info-circle" aria-hidden="true"></i> <small>Menu Admin</small>
                            </a>
                            <!-- Khi vai trò là thủ kho thì hiển thị cái này -->
                            <a class="dropdown-item left-topbar-item" href="/admin">
                                <i class="fa fa-info-circle" aria-hidden="true"></i> <small>Nhập sách</small>
                            </a>
                            <a class="dropdown-item left-topbar-item" href="/admin">
                                <i class="fa fa-info-circle" aria-hidden="true"></i> <small>Quản lý danh sách
                                    sách</small>
                            </a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item left-topbar-item" href="/user/logout">
                                <i class="fa fa-sign-out" aria-hidden="true"></i> <small>Đăng xuất</small>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrap-main-nav" style="z-index: 5;">
            <div class="main-nav">
                <nav class="menu-desktop">
                    <ul class="main-menu">
                        <div id="_home">
                            <a href="/" style="color: black"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
                        </div>
                        <li class="mega-menu-item">
                            <a href="/category/{{this.0.id}}">Chuyên mục</a>

                            <div class="sub-mega-menu">
                                <div class="nav flex-column nav-pills" role="tablist">
                                    <a class="nav-link active" data-toggle="pill" href="/category/{{this.id}}"
                                        role="tab">Tất cả</a>
                                    <a class="nav-link" data-toggle="pill" href="/category/{{this.id}}"
                                        role="tab">{{this.TenChuyenMuc}}</a>
                                </div>
                            </div>
                        </li>
                        <form class="dropdown" method="post" action="/search-enter" id="search-box">
                            <div class="size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6 ">
                                <input autocomplete="off" class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" type="text"
                                    name="search" id="search" placeholder="Tìm kiếm...">
                                <button class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </div>

                            <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton" id="match-list">
                            </ul>
                        </form>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
