<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{{_sections.title}}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/public/images/icons/icon.jpg" />

    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../../public/fonts/fontawesome-5.0.8/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="../../public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../public/fonts/iconic/css/material-design-iconic-font.min.css" />
    <link rel="stylesheet" type="text/css" href="../../public/vendor/animate/animate.css" />
    <link rel="stylesheet" type="text/css" href="../../public/vendor/css-hamburgers/hamburgers.min.css" />
    <link rel="stylesheet" type="text/css" href="../../public/vendor/animsition/css/animsition.min.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/util.min.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/main.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/style.css" />

    <!-- Bootstrap Core CSS -->
    <link href="../../public/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="../../public/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <!-- toast CSS -->
    <link href="../../public/plugins/bower_components/toast-master/css/jquery.toast.css" rel="stylesheet">
    <!-- morris CSS -->
    <link href="../../public/plugins/bower_components/morrisjs/morris.css" rel="stylesheet">
    <!-- chartist CSS -->
    <link href="../../public/plugins/bower_components/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="../../public/plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css"
        rel="stylesheet">
        <!-- animation CSS -->
    <link href="../../public/css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../../public/css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="../../public/css/colors/default.css" id="theme" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css" />

    {{{_sections.css}}}
    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <script src="../../public/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../public/vendor/bootstrap/css/bootstrap.min.css" />
    

    <!-- Menu Plugin JavaScript -->
    <script src="../../public/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="../../public/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="../../public/js/waves.js"></script>
    <!--Counter js -->
    <script src="../../public/plugins/bower_components/waypoints/lib/jquery.waypoints.js"></script>
    <script src="../../public/plugins/bower_components/counterup/jquery.counterup.min.js"></script>
    <!-- chartist chart -->
    <script src="../../public/plugins/bower_components/chartist-js/dist/chartist.min.js"></script>
    <script
        src="../../public/plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <!-- Sparkline chart JavaScript -->
    <script src="../../public/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="../../public/js/custom.min.js"></script>
    <script src="../../public/plugins/bower_components/toast-master/js/jquery.toast.js"></script>
</head>

<body class="animsition" style="background-color: #804000;background-image: url('../../public/bookTitleImage/wood-card.jpg');">
    <div id="snackbar"></div>
    {{> nav}}
    
    {{{body}}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/public/vendor/animsition/js/animsition.min.js"></script>
    <script src="/public/vendor/bootstrap/js/popper.js"></script>
    <script src="/public/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/public/js/main.js"></script>
    <script src="/public/js/style.js"></script>
    {{{_sections.js}}}
    {{> footer}}
</body>

</html>